{% extends "base_page.html" %}

{% block page-title %}
Добавить звезду
{% endblock %}

{% block page-lead %}
Когда вы нажмёте на кнопку &laquo;Отправить&raquo;, веб-приложению отправится POST-запрос.
При этом проводится валидация, что поля не остались пустыми
{% endblock %}


{% block content %}
<div class="container-sm px-5 py-5" id="term-form">
    <form method="post">
        <div class="row px-5 py-2">
            <h3>Звезда</h3>
        </div>
        <div class="row px-5 py-2">
            <div class="col-md-3">
                <label for="star_name">Название</label>
                <input type="text" class="form-control input-lg" name="star_name" id="star_name" value required>
            </div>
            <div class="col-md-3">
                <label for="type">Тип</label>
                <input type="text" class="form-control input-lg" name="type" id="type"
                       placeholder="Двойная звезда" value required>
            </div>
            <div class="col-md-3">
                <label for="magnitude">Величина</label>
                <input type="text" class="form-control input-lg" name="magnitude" id="magnitude" value required>
            </div>
            <div class="col-md-3">
                <label for="constellation">Созвездие</label>
                <input type="text" class="form-control input-lg" name="constellation" id="constellation" value required>
            </div>
        </div>
        <div class="row px-5 py-2">
            <button type="submit" class="btn btn-primary" formaction="/send-term">Отправить</button>
        </div>
    </form>
</div>
{% endblock %}
